@import "../../../styles/variables.scss";

$max-width: 150px;

.statistic {
  &__label {
    font-weight: 700;
  }
  &__values {
    font-size: 12px;
  }
  &__container {
    width: $max-width;
    height: 8px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid $grey-light;
    overflow: hidden;
  }
  &__bar {
    max-width: $max-width;
    height: 8px;
  }

  .health {
    background-color: $green-health;
  }
  .mana {
    background-color: $blue-mana;
  }
  .exp {
    background-color: $violet-exp;
  }
}
