// resetcss
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

//fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

//atoms
@import "../components/atoms/Title/style.scss";
@import "../components/atoms/Statbar/style.scss";
@import "../components/atoms/StatItem/style.scss";

//molecules
@import "../components/molecules/CharacterCard/style.scss";
@import "../components/molecules//RaceCard//style.scss";

//organism
@import "../components/organisms/CharactersList/style.scss";
@import "../components/organisms/RacesList/style.scss";

//template
@import "../components/templates/Layout/style.scss";
@import "../components/templates/Home/style.scss";
@import "../components/templates/Characters/style.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}
