@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import "../components/templates/Layout/style.scss";
@import "../components/templates/Home/style.scss";
@import "../components/organisms/CharactersList/style.scss";
@import "../components/molecules/Character/style.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
